@import "tailwindcss";

:root {
    --background: #090A09;
    --foreground: #DAD4C1;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-bodoni: var(--font-bodoni-sans);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
